{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block body %}

<div id="container-for-main-content" class="container">

<!-- /// #Name ////////////////////////////////////////////////// -->
    <div id="row-for-name" class="row"><!-- for Name Section -->
    <div id="name-section" class="col-xs-12">

        <!-- Default View -->
        <div id="name-editable"
             class="attribute-editable">
            <h1 id="name-edit-target"
                >{{ recipe.name }}</h1>
        </div><!-- /#name-editable -->

        <!-- Edit View -->
        <div id="name-editing"
             class="attribute-editing hidden">
 
            <h4 id="name-edit-head"
                >Recipe Name (60 character max):</h4>
            <textarea id="name-edit-input"
                      class="attr-edit-input"
                      rows="1"
                      cols="70"
                      maxlength="60"
                      >{{ recipe.name }} </textarea> 
            <a id='name-save-btn'
               class='btn btn-primary attr-save-btn'
               role='button'>Save</a>
        </div><!-- /#name-editing -->

    </div><!-- /#name-section -->
    </div><!-- /row for Name Section -->

<!-- /// #Main Column Left ////////////////////////////////////// -->
    <div id="row-for-MCL-and-MCR" class="row"><!-- for MCL and MCR -->
    <div id="main-column-left" class="col-xs-12 col-md-4">
    <div id="row-for-inside-MCL" class="row"><!-- inside MCL -->

    <!-- ... Image Block ........................................ -->
        <div id="image-block" class="col-xs-12">

            <div id="image-editable">
            {% if recipe.image %}
                <img id="image-display"
                     class="col-md-12"
                     src="{{ recipe.image.url }}"
                     alt="testing">
            {% else %}
                <img id="image-display"
                     class="col-md-12"
                     src="{% static 'img/food_default_300px.jpg' %}"
                     alt="Please Upload an Image of the Prepared Recipe">
            {% endif %}
            </div><!-- /#image-editable -->

            <div id="image-editing"
                 class="attribute-editing hidden">
                {% crispy upload_image_form %}
            </div><!-- /#image-editing -->

        </div><!-- /#image-block -->

    <!-- ... Meta-Info Block .................................... -->
        <div id="meta-info-block" class="col-xs-12">
        <!-- Source -->
            <div id="meta-info-source">
                <!-- Source Default View -->
                <div id="source-editable"
                     class="attribute-editable">
                    <p class="meta-info-spacer">
                        <span class="meta-info-head"
                            >Source:</span><br>
                        <span id="source-edit-target"
                              class="meta-info-data"
                            >{{ recipe.source }}</span>
                    </p>
                </div><!-- /#source-editable -->

                <!-- Source Edit View -->
                <div id="source-editing"
                     class="attribute-editing hidden">
                    <span id="source-edit-head"
                          class="meta-info-head"
                        >Source (250 character max):</span><br>
                    <textarea id="source-edit-input"
                              class="attr-edit-input"
                              rows="3"
                              cols="35"
                              maxlength="250"
                              >{{ recipe.source }} </textarea> 
                    <a id='source-save-btn'
                       class='btn btn-primary attr-save-btn'
                       role='button'>Save</a><br>
                </div><!-- /#source-editing -->

            </div><!-- /#meta-info-source -->

        <!-- Edit and Delete ...................................... -->
            <div id="edit-delete">

                <a id="recipe-edit-btn"
                   class="btn btn-primary crud-btn"
                   role="button">Edit Recipe</a>

                <a id="recipe-stop-edit-btn"
                   class="btn btn-primary crud-btn hidden"
                   role="button">Stop Editing</a>

                <a id="recipe-delete-btn"
                   class="btn btn-primary crud-btn"
                   href="/recipe_delete_page/{{ recipe.pk }}"
                   role="button">Delete Recipe</a>

            </div><!-- /#edit-delete -->

        <!-- Tags -->
            <div id="meta-info-tags">
                <p class="meta-info-spacer">
                <span class="meta-info-head">Tags:</span><br>
                <span class="meta-info-data">{{ recipe.tags }}</span>
                </p>
            </div><!-- /#meta-info-tags -->
        </div><!-- /#meta-info-block -->

    </div><!-- /row for inside MCL -->
    </div><!-- /#main-column-left -->

<!-- /// #Main Column Right ///////////////////////////////////// -->
    <div id="main-column-right" class="col-xs-12 col-md-8">
    <div id="row-for-inside-MCR" class="row"><!-- inside MCR -->
        
<!-- ... Key-Info Block ..................................... -->
        <div id="key-info-block" class="row">
        <div id="key-info-left" class="col-xs-12 col-sm-6">
        <div id="row-for-time-energy" class="row">
            
        <!-- ... Time Info ...................................... -->
            <div id="time-info" class="col-xs-6">

            <!-- Time Default View -->
                <div id="time-mouseover-target">
                <div id="time-editable"
                     class="attribute-editable key-info-col"> 
                    <span class="key-info-head">Time</span><br>
                    <span id="time-default-data" class="key-info-data"
                        ><span id="time-edit-target"
                        >{{ recipe.time_tot }}</span> mins</span>
                </div><!-- /#time-editable -->

            <!-- Time Popup -->
                <div id="time-popup" class="popup key-popup hidden">
                    <table class="popup-table">
                        <tr>
                            <td align="right"><b>Total Time: </b></td>
                            <td><b>{{ recipe.time_tot }} mins</b></td></tr>
                        <tr>
                            <td align="right">Prep: </td>
                            <td>{{ recipe.time_prep }} mins</td></tr>
                        <tr>
                            <td align="right">Cook: </td>
                            <td>{{ recipe.time_cook }} mins</td></tr>
                    </table>
                </div><!-- /#time-popup -->
                </div><!-- /#time-mouseover-target -->

            <!--- Time Edit View -->
                <div id="time-editing"
                     class="attribute-editing hidden">
                    <span id="time-editing-head"
                          class="key-info-head"
                        >Prep Time + Cook Time = Total Time (mins):</span>
                    <div id="time-editing-body">
                        <input id="time_prep-edit-input"
                                  class="attr-edit-input time-input"
                                  maxlength="5"
                                  value="{{ recipe.time_prep }}"></input> 
                        <span id="time-edit-plus"
                              class="time-edit-text"
                              >+</span>
                        <input id="time_cook-edit-input"
                                  class="attr-edit-input time-input"
                                  maxlength="5"
                                  value="{{ recipe.time_cook }}"></input>
                        <span id="time-edit-equals"
                              class="time-edit-text"
                              >=</span>
                        <span id="time_tot-edit-calc"
                              class="time-edit-text"
                              >{{ recipe.time_tot }}</span>
                        <a id='time-save-btn'
                           class='btn btn-primary attr-save-btn'
                           role='button'>Save</a>
                    </div><!-- /#time-editing-body -->
                </div><!-- /#time-editing -->

            </div><!-- /#time-info -->
                    
        <!-- ... Energy Info .................................... -->
            <div id="energy-info" class="col-xs-6">
            <!-- Energy Default View -->
                <div id="energy-editable" class="attribute-editable key-info-col">
                    <span class="key-info-head">Energy</span><br>
                    <span id="energy-default-data"
                          class="key-info-data"
                        >{{ energy_basic.energy_tot }} Cal</span>
                </div><!-- /#energy-editable -->

            <!-- Energy Popup -->
                <div id="energy-popup"
                     class="popup key-popup hidden">
                    <table class="popup-table">
                        <tr><td align="right"
                            ><b>Total Energy: </b></td>
                            <td><b>{{ energy_basic.energy_tot }} Cal</b></td></tr>
                        <tr><td align="right"
                            >Carbs: </td>
                            <td>{{ energy_basic.energy_cho }} Cal</td></tr>
                        <tr><td align="right"
                            >Protein: </td>
                            <td>{{ energy_basic.energy_ptn }} Cal</td></tr>
                        <tr><td align="right"
                            >Fat: </td><td>{{ energy_basic.energy_fat }} Cal</td></tr>
                    </table>
                </div><!-- Energy Popup -->
            </div><!-- /#energy-info -->
        </div><!-- /.row for time-energy -->

        <!-- ... Description Info ............................... -->
            <div id="row-for-description">
            <div id="description-info" class="col-xs-12">

            <!-- Description Default View -->
                <div id="description-editable"
                     class="attribute-editable">
                    <span class="key-info-head"
                        >Description:</span><br>
                    <span class="meta-info-data"
                          id="description-edit-target"
                        >{{ recipe.description }}</span>
                </div><!-- /#description-editable -->

            <!-- Description Edit View -->
                <div id="description-editing"
                     class="attribute-editing hidden">
                    <span id="description-edit-head"
                          class="key-info-head"
                        >Description (100 character max):</span><br>
                    <textarea id="description-edit-input"
                              class="attr-edit-input"
                              rows="3"
                              cols="35"
                              maxlength="100"
                              >{{ recipe.description }} </textarea> 
                    <a id='description-save-btn'
                       class='btn btn-primary attr-save-btn'
                       role='button'>Save</a><br>
                </div><!-- /#description-editing -->

            </div><!-- /#description-info -->
            </div><!-- /.row for description -->
        </div><!-- /#key-info-left -->

        <div id="key-info-right" class="col-xs-12 col-sm-3 col-md-4 col-lg-3">
        <!-- ... Rating Info .................................... -->
            <div id="rating-info" class="col-xs-12 attribute-editable">

                <div id="stars-tot" class="col-xs-6 col-sm-12">
                    <span id="stars-total"></span>
                    <br>
                    <span id="stars-tot-data"
                        ><span id="raters-total"
                            >{{ rating_stat_v.count }}</span>
                        <span id="stars-tot-labels"
                            > ratings; avg: </span>
                        <span id="rating-total"
                            >{{ rating_stat_v.avg }}</span></span>
                </div><!-- /#stars-tot -->

                <div id="stars-use" class="col-xs-6 col-sm-12">
                    <span id="stars-user"></span>
                    <br>

                    <span id="hidden-rating-saved"
                          style="display: none;"
                    >{{ rating_v.rating }}</span>

                    {% if rating_v.rating == -1 %}
                        Sign-in to rate
                    {% elif rating_v.rating == 0 %}
                        Add your rating
                    {% else %}
                        <a id="rating-remove" href="#">Remove your rating</a>
                    {% endif %}
                </div><!-- /#stars-use -->
            </div><!-- /#rating-info -->

        </div><!-- /#key-info-right -->
        </div><!-- /#key-info-block -->

<!-- ... Ingredients and Nutr-Info Block .................... -->
        <div id="ingred-and-nutr-block" class="row">
        <div id="ingred-list" class="col-xs-6 col-sm-6">

        <!-- Ingred List Output 0 ................................... -->
            <span id="ingred-list-output-0" class="col-xs-12"
                ><h4>Ingredients</h4>

                <span id="servings-label"
                    >Number of Servings: </span>
                <span id="servings-display"></span>
                <span id="servings-change"></span>

            <!-- Ingreds Default View -->
                <div id="ingred-editable"
                     class="quant-editable ingred-list-format">
                {% for quant in recipe.quantity_set.all %}
                    <div id="ingred-{{ quant.ingred.ndb_id.ndb_no }}"
                          class="ingred-list-item">
                        <span class="quant-qty_common"
                            >{{ quant.qty_common }}</span>
                        <span class="quant-d-ingred-d-label"
                            >{{ quant.ingred.label }}</span>
                        <span class="quant-name_common"
                            >{{ quant.name_common }}</span>
                        <span id="ingred-{{ quant.ingred.ndb_id.ndb_no }}-btns"
                              class="ingred-btn-holder hidden"
                            ><a id='ingred-edit-btn-{{ quant.id }}-{{ quant.ingred.ndb_id.ndb_no }}'
                                class='btn btn-primary ingred-indiv-btn'
                                role='button'>Change</a></span><br>

                    </div><!-- ingred-[ndb_no] -->
                {% endfor %}
                </div><!-- /#ingred-editable -->

            <!-- Ingreds Editing View -->
                <div id="ingred-editing"
                     class="quant-editing ingred-list-format hidden">
                {% for quant in recipe.quantity_set.all %}
                    <div id="ingred-{{ quant.ingred.ndb_id.ndb_no }}"
                          class="ingred-list-item">

                        <input id="qty_common-edit-input"
                                  class="attr-edit-input ingred-input"
                                  maxlength="5"
                                  value="{{ quant.qty_common }}"></input>
                        <input id="quant-ingred-label-edit-input"
                                  class="attr-edit-input ingred-input"
                                  maxlength="20"
                                  value="{{ quant.ingred.label }}"></input>
                        <br>
                        <input id="name_common-edit-input"
                                  class="attr-edit-input ingred-input"
                                  maxlength="50"
                                  value="{{ quant.name_common }}"></input>
                        <a id='ingred-save-btn'
                           class='btn btn-primary attr-save-btn'
                           role='button'>Save</a>

                    </div><!-- ingred-[ndb_no] -->
                {% endfor %}
                </div><!-- /#ingred-editing -->

        <!-- Ingred List Output 1 ................................... -->
                <span id='ingred-list-output-1'></span>
                <br>

        <!-- Ingred List Output 2 ................................... -->
                <span id='ingred-list-output-2'
                    ><a id='ingred-add-btn'
                       class='btn btn-primary servings-btn ingred-btn'
                       role='button'>Add Ingredient</a>

                    <a id='ingred-edit-activate-btn'
                       class='btn btn-primary servings-btn ingred-btn'
                       role='button'>Edit Ingredients</a>

                    <a id='ingred-edit-deactivate-btn'
                       class='btn btn-primary servings-btn ingred-btn hidden'
                       role='button'>Stop Editing</a></span><br>

        <!-- Ingred List Output 3 ................................... -->
                <strong id='ingred-list-output-3'>
                </strong>

        </div><!-- /#ingred-list -->

        <div id="nutr-list" class="col-xs-6 col-sm-5 col-md-5 col-lg-4">

        <!-- Right Side Head / Nutr Heading ..................... -->
            <table id="nutr-table-head">
                <tr><td class="nutr-table-title"
                    >Nutrition / Serving</td></tr>
            </table>

        <!-- Right Side Body / Nutr Table ....................... -->
            <div id="right-side-body">
            <table id="nutr-table"
                    class="nutr-table-normal">
                <tr><td class="nutr-label nutr-label-leader">Calories: </td>
                    <td class="nutr-data nutr-data-leader"
                        ><span class="nutr-cumulative"
                            >{{ energy_basic.energy_tot }}</span
                        ><span id="nutr-data-energy_tot"
                               class="nutr-individ"
                            ></span> Cal</td></tr>

                <tr><td class="nutr-label">Carbs: </td>
                    <td class="nutr-data"
                        ><span class="nutr-cumulative"
                            >{{ energy_basic.energy_cho }}</span
                        ><span id="nutr-data-energy_cho"
                               class="nutr-individ"
                            ></span> Cal</td></tr>
                <tr><td class="nutr-label">Protein: </td>
                    <td class="nutr-data"
                        ><span class="nutr-cumulative"
                            >{{ energy_basic.energy_ptn }}</span
                        ><span id="nutr-data-energy_ptn"
                               class="nutr-individ"
                            ></span> Cal</td></tr>
                <tr><td class="nutr-label">Fat: </td>
                    <td class="nutr-data"
                        ><span class="nutr-cumulative"
                            >{{ energy_basic.energy_fat }}</span
                        ><span id="nutr-data-energy_fat"
                               class="nutr-individ"
                            ></span> Cal</td></tr>

                <tr class="blank-row"><td colspan="3"></td></tr>

                <tr><td class="nutr-label nutr-label-leader">Mass: </td>
                    <td class="nutr-data nutr-data-leader"
                        ><span class="nutr-cumulative"
                            >{{ mass_basic }}</span
                        ><span id="nutr-data-mass"
                               class="nutr-individ"
                            ></span> g</td></tr>
                <tr><td class="nutr-label">Carbs: </td>
                    <td class="nutr-data"
                        ><span class="nutr-cumulative"
                            >{{ nutr_basic.carbs }}</span
                        ><span id="nutr-data-carbs"
                               class="nutr-individ"
                            ></span> g</td></tr>
                <tr><td class="nutr-label">Protein: </td>
                    <td class="nutr-data"
                        ><span class="nutr-cumulative"
                            >{{ nutr_basic.protein }}</span
                        ><span id="nutr-data-protein"
                               class="nutr-individ"
                            ></span> g</td></tr>
                <tr><td class="nutr-label">Fat: </td>
                    <td class="nutr-data"
                        ><span class="nutr-cumulative"
                            >{{ nutr_basic.lipids }}</span
                        ><span id="nutr-data-lipids"
                               class="nutr-individ"
                            ></span> g</td></tr>
                <tr><td class="nutr-label">Fiber: </td>
                    <td class="nutr-data"
                        ><span class="nutr-cumulative"
                            >{{ nutr_basic.fiber }}</span
                        ><span id="nutr-data-fiber"
                               class="nutr-individ"
                            ></span> g</td></tr>
                <tr><td class="nutr-label">Sugars: </td>
                    <td class="nutr-data"
                        ><span class="nutr-cumulative"
                            >{{ nutr_basic.sugars }}</span
                        ><span id="nutr-data-sugars"
                               class="nutr-individ"
                            ></span> g</td></tr>
                <tr><td class="nutr-label">Water: </td>
                    <td class="nutr-data"
                        ><span class="nutr-cumulative"
                            >{{ nutr_basic.water }}</span
                        ><span id="nutr-data-water"
                               class="nutr-individ"
                            ></span> g</td></tr>
                <tr><td class="nutr-label">Sodium: </td>
                    <td class="nutr-data"
                        ><span class="nutr-cumulative"
                            >{{ nutr_other.sodium }}</span
                        ><span id="nutr-data-sodium"
                               class="nutr-individ"
                            ></span> mg</td></tr>
            </table>
            </div><!-- /#right-side-body -->
        </div><!-- /#nutr-list -->
        </div><!-- /#ingred-and-nutr-block -->

<!-- ... Directions Block ................................... -->
        <div id="directions-block" class="row">
        <div id="directions-list" class="col-xs-12 col-md-8">

            <div id="directions-head" class="col-xs-12">
                <h4
                    >Directions</h4>
            </div><!-- /#directions-head -->

            <!-- Directions Default View -->
            <div id="directions-editable"
                 class="col-xs-12 attribute-editable">
                <span id="directions-edit-target"
                    >{{ recipe.directions|linebreaks }}</span>
                <br>
            </div><!-- /#directions-editable . -->

            <!-- Directions Editing -->
            <div id="directions-editing"
                 class="attribute-editing hidden">
                    <span id="directions-edit-head"
                          class="meta-info-head"
                        >Directions (Press "enter" twice between steps):</span><br>
                    <textarea id="directions-edit-input"
                              class="attr-edit-input"
                              rows="15"
                              cols="80"
                              >{{ recipe.directions }} </textarea>
                    <a id='directions-save-btn'
                       class='btn btn-primary attr-save-btn'
                       role='button'>Save</a><br>
            </div><!-- Directions-editing -->

        </div><!-- /#directions-list -->
        </div><!-- /#directions-block -->

<!-- ... Comments Block ..................................... -->
        <div id="comments-block" class="row">
        <div id="comments-list" class="col-xs-12 col-md-8">

        <!-- Comments Display ....................................... -->
            <div id="comments-head" class="col-xs-12">
                <h4
                    >Comments</h4>
            </div><!-- /#comments-head -->

            <div id="comments-display" class="col-xs-12">
                {% for comment in old_comments_v %}
                    {{ comment.number }}. <br>
                    {{ comment.text }}<br>
                    Comment by 
                    {{ comment.user_name }} --- 
                    {{ comment.time_stamp }}<hr>
                {% endfor %}
            </div><!-- /#comments-display -->

        <!-- New Comments ........................................... -->
            <div id="new-comments" class="col-xs-12">

                {% if active %}
                    {% crispy comments_v %}
                {% else %}
                    You must be signed-in to comment. Please 
                    <a href="/sign_in/">sign in</a> 
                    or 
                    <a href="/sign_in/">create an account</a> 
                    and sign in.
                {% endif %}

            </div><!-- /#new-comments -->
        </div><!-- /#comments-list -->
        </div><!-- /#comments-block -->

    </div><!-- /row for inside MCR -->
    </div><!-- /#main-column-right -->
    </div><!-- /row for MCL and MCR -->

<!-- /// End HTML, Begin JavaScript ///////////////////////////// -->

<!-- /// Hidden Data, end HTML, etc ///////////////////////////// -->
    <span id="hidden-servings-orig"
          style="display: none;"
          >{{ recipe.servings_orig }}</span>

    <div class="row">
        <br><br><hr>
    </div>

</div><!-- /.container -->

<!-- /// Javascript ///////////////////////////////////////////// -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <script src="{% static 'js/js.cookie.js' %}"></script>

<script type="text/javascript">

    // Edit individual ingredients
    $('.ingred-indiv-btn').on('click', function() {
        var itemID = this.id;
        console.log("itemID: " + itemID);

        var idNums = itemID.replace('ingred-edit-btn-', '');
        console.log(idNums);

        var quantityPK = idNums.split(/[-]/)[0];
        console.log(quantityPK);
        var itemNdbNo = idNums.split(/[-]/)[1];
        console.log(itemNdbNo);

        var qty_common = $('#ingred-' + itemNdbNo).
            find(' .quant-qty_common').text();
        var label = $('#ingred-' + itemNdbNo).
            find(' .quant-d-ingred-d-label').text();
        var name_common = $('#ingred-' + itemNdbNo).
            find(' .quant-name_common').text();

        $('#ingred-' + itemNdbNo).text('').append(
            '<input id="quant-qty_common-input"' +
                      'class="attr-edit-input ingred-input"' +
                      'maxlength="5"' +
                      'type="text"' +
                      'value=' + qty_common + '></input>' +
            '<input id="quant-d-ingred-d-label-input"' +
                      'class="attr-edit-input ingred-input"' +
                      'maxlength="20"' +
                      'type="text"' +
                      'value="' + label + '""></input>' +
            '<br>' +
            '<input id="quant-name_common-input"' +
                      'class="attr-edit-input ingred-input"' +
                      'maxlength="50"' +
                      'type="text"' +
                      'value="' + name_common + '"></input>' +
            '<a id="ingred-save-btn"' +
               'class="btn btn-primary ingred-indiv-btn"' +
               'role="button">Save</a>' +
            '<a id="ingred-delete-btn-' + quantityPK + '"' +
               'class="btn btn-primary ingred-indiv-btn ingred-del-btn"' +
               'role="button">Delete</a>'
        );
        preDeleteIndividualIngredients(quantityPK, itemNdbNo, name_common);
    });

    // Confirmation before deleting individual ingredient
    var preDeleteIndividualIngredients = function(quantityPK, itemNdbNo, name_common) {
        $('#ingred-delete-btn-' + quantityPK).on('click', function() {
            $('#ingred-' + itemNdbNo).text('').append(
                'Are you sure you want to delete ' +
                name_common +
                '? ' +
                '<a id="ingred-del-conf-btn-' + quantityPK + '"' +
                   'class="btn btn-primary ingred-indiv-btn ingred-del-conf-btn"' +
                   'role="button">Delete</a>'
            );
            deleteIndividualIngredients(quantityPK, itemNdbNo);
        });
    };

    // Delete Individual Ingredients
    var deleteIndividualIngredients = function(quantityPK, itemNdbNo) {
        $('.ingred-del-conf-btn').on('click', function() {
            console.log("ingred-del-conf-btn");
            console.log(quantityPK);

            $.ajax({
                type: 'GET',
                url: '/del_quantity/',
                data: { quantity_pk: quantityPK },
                error: function() {},
                success: function() {
                    console.log("del quantity success")
                    $('#ingred-' + itemNdbNo).text('')
                }

            });
        });
    };

    // Toggle display of buttons to edit individual ingredients
    var activateEditIngredients = function() {
        $('#ingred-edit-activate-btn').on('click', function() {
            $('.ingred-btn-holder').removeClass('hidden');
            $('#ingred-edit-activate-btn').addClass('hidden');
            $('#ingred-edit-deactivate-btn').removeClass('hidden');
        });

        $('#ingred-edit-deactivate-btn').on('click', function() {
            $('.ingred-btn-holder').addClass('hidden');
            $('#ingred-edit-activate-btn').removeClass('hidden');
            $('#ingred-edit-deactivate-btn').addClass('hidden');
        });
    };

    // Set the source of the rating-star images
        var starGray = "/static/img/star_gray_100px.png ";
        var starMagenta = "/static/img/star_magenta_100px.png ";

    // Time info popup
    var timeMouseover = function() {
        $('#time-mouseover-target').on('mouseover', function() {
            $('#time-popup').removeClass('hidden');
            $('#time-editable').addClass('hidden');
        });

        $('#time-mouseover-target').on('mouseout', function() {
            $('#time-popup').addClass('hidden');
            $('#time-editable').removeClass('hidden');
        });
    };

    // Deactivate Time Info Popup during editing
    var timeMouseoverDeactivate = function() {
        $('#time-info').on('mouseover', function() {});
    };

    // Energy info popup
    var energyMouseover = function() {
        $('#energy-info').on('mouseover', function() {
            $('#energy-popup').removeClass('hidden');
            $('#energy-editable').addClass('hidden');
        });

        $('#energy-info').on('mouseout', function() {
            $('#energy-popup').addClass('hidden');
            $('#energy-editable').removeClass('hidden');
        });
    };

    // Check if a serving number is stored in cookie; update servings 
    var updateServings = function() {
        var servOrig = $('#hidden-servings-orig').text()
        var servModifCookie = Cookies.get("servModifCookie")

        if(servModifCookie) {
            servTemp = servModifCookie
        } else {
            servTemp = servOrig
        };

        $('#servings-display').text('').append(
            servTemp
        );
        $('#servings-change').text('').append(
            "<a id='servings-scale-btn'" +
               "class='btn btn-primary servings-btn'" +
               "href='#'" +
               "role='button'>Change" +
            "</a>"
        );
        servingsScale(servTemp);
    };

    // On loading, apply any scaling of the recipe to the ingredient quantities
    $(function() {

        updateServings();
        timeMouseover();
        energyMouseover();
        activateEditIngredients();

        var numIngreds = $('.quant-qty_common').length
        for(i = 0; i < numIngreds; i++) {
            qtyComm = Number($('.quant-qty_common')[i].innerText)
            qtyDisplay = qtyComm * servTemp
            
            // Deal with long floats
            length = qtyDisplay.toString().length
            decimal = qtyDisplay.toString().indexOf('.')

            if(length - decimal > 2) {
                temp = qtyDisplay.toFixed(2);
                lastTwo = temp.toString().slice(-2)
                if (lastTwo == '00') {
                    qtyDisplay = qtyDisplay.toFixed(0);
                } else if (lastTwo == '25') {
                    qtyDisplay = qtyDisplay.toFixed(2);
                } else {
                    qtyDisplay = qtyDisplay.toFixed(1);
                };
            };

            $('.quant-qty_common')[i].innerText = qtyDisplay
        };

        // Rating of Recipes
        var ratersTotal = $('#raters-total').text();
        var ratingTotal = $('#rating-total').text();
        var ratingSaved = $('#hidden-rating-saved').text();

        var starSourceC = [starGray, starGray, starGray, starGray, starGray];
        var starSourceU = [starGray, starGray, starGray, starGray, starGray];

        for (i = 0; i < Math.floor(ratingTotal); i++) {
            starSourceC[i] = starMagenta;
        };

        $('#stars-total').text('').append(
            "<img class='star-crowd'" +
                 "id='star-c-1'" +
                 "src=" + starSourceC[0] + ">" +
            "<img class='star-crowd'" +
                 "id='star-c-2'" +
                 "src=" + starSourceC[1] + ">" +
            "<img class='star-crowd'" +
                 "id='star-c-3'" +
                 "src=" + starSourceC[2] + ">" +
            "<img class='star-crowd'" +
                 "id='star-c-4'" +
                 "src=" + starSourceC[3] + ">" +
            "<img class='star-crowd'" +
                 "id='star-c-5'" +
                 "src=" + starSourceC[4] + ">"
        );

        for (i = 0; i < ratingSaved; i++) {
            starSourceU[i] = starMagenta;
        };

        $('#stars-user').text('').append(
            "<img class='star-user' id='star-u-1'" +
                 "src=" + starSourceU[0] + ">" +
            "<img class='star-user' id='star-u-2'" +
                 "src=" + starSourceU[1] + ">" +
            "<img class='star-user' id='star-u-3'" +
                 "src=" + starSourceU[2] + ">" +
            "<img class='star-user' id='star-u-4'" +
                 "src=" + starSourceU[3] + ">" +
            "<img class='star-user' id='star-u-5'" +
                 "src=" + starSourceU[4] + ">"
        );
        ratingMouseOver(ratingSaved);
    });

    // Click on item in ingredient list; get ndb_no
    $('.ingred-list-item').on('click', function() {
        var itemNdbNo = this.id.split(/[-]/)[1];
    });

    $('.ingred-list-item').on('mouseover', function() {
        var itemID = this.id;
        $('#' + itemID).addClass('ingred-list-highlight');

        var itemNdbNo = itemID.split(/[-]/)[1];

        $('.nutr-cumulative').addClass('hidden')
        $('.nutr-individ').removeClass('hidden')
        $('#nutr-table').removeClass('nutr-table-normal')
        $('#nutr-table').addClass('nutr-table-outline')

        {% autoescape off %}
        tab_dict = {{ nutr_individ }};
        {% endautoescape %}
        
        $('#nutr-data-energy_tot').text(
            tab_dict[itemNdbNo].energy_basic.energy_tot
        );
        $('#nutr-data-energy_cho').text(
            tab_dict[itemNdbNo].energy_basic.energy_cho
        );
        $('#nutr-data-energy_ptn').text(
            tab_dict[itemNdbNo].energy_basic.energy_ptn
        );
        $('#nutr-data-energy_fat').text(
            tab_dict[itemNdbNo].energy_basic.energy_fat
        );
        $('#nutr-data-mass').text(
            tab_dict[itemNdbNo].mass
        );
        $('#nutr-data-carbs').text(
            tab_dict[itemNdbNo].nutr_basic_g.carbs
        );
        $('#nutr-data-protein').text(
            tab_dict[itemNdbNo].nutr_basic_g.protein
        );
        $('#nutr-data-lipids').text(
            tab_dict[itemNdbNo].nutr_basic_g.lipids
        );
        $('#nutr-data-fiber').text(
            tab_dict[itemNdbNo].nutr_basic_g.fiber
        );
        $('#nutr-data-sugars').text(
            tab_dict[itemNdbNo].nutr_basic_g.sugars
        );
        $('#nutr-data-water').text(
            tab_dict[itemNdbNo].nutr_basic_g.water
        );
        $('#nutr-data-sodium').text(
            tab_dict[itemNdbNo].nutr_other_mg.sodium
        );
    });
        
    $('.ingred-list-item').on('mouseout', function() {
        var itemID = this.id;
        $('#' + itemID).removeClass('ingred-list-highlight');

        $('.nutr-cumulative').removeClass('hidden')
        $('.nutr-individ').addClass('hidden')
        $('#nutr-table').removeClass('nutr-table-outline')
        $('#nutr-table').addClass('nutr-table-normal')

    });

    // Edit an Attribute in the Name or Header ----------------------
    $('#recipe-edit-btn').on('click', function() {

        $('.attribute-editable').addClass('hidden');
        $('.attribute-editing').removeClass('hidden');
        $('#name-edit-input').focus();

        $('#image-block').addClass('image-edit-format');
        $('#recipe-stop-edit-btn').removeClass('hidden');
        $('#recipe-edit-btn').addClass('hidden');

        $('#time_prep-edit-input').on('keyup', function() {
            timeTotCalc();
        });
        $('#time_cook-edit-input').on('keyup', function() {
            timeTotCalc();
        });

        var timeTotCalc = function() {
            timePrep = Number($('#time_prep-edit-input').val());
            timeCook = Number($('#time_cook-edit-input').val());
            $('#time_tot-edit-calc').text(timePrep + timeCook);
        };

        $('#time-save-btn').on('click', function() {
            $('#rating-info').removeClass('hidden');
        });
    });

    // Click "Stop Editing" button to restore default views
    $('#recipe-stop-edit-btn').on('click', function() {
        $('.attribute-editable').removeClass('hidden');
        $('.attribute-editing').addClass('hidden');

        $('#image-block').removeClass('image-edit-format');
        $('#recipe-stop-edit-btn').addClass('hidden');
        $('#recipe-edit-btn').removeClass('hidden');
        $('#rating-info').removeClass('hidden');
    });

    // Click on the "Save" button for an edited attribute
    // Get the name of the attribute
    $('.attr-save-btn').on('click', function() {
        var attribute = this.id.split(/[-]/)[0];

        if(attribute == "time") {
            timeValue(attribute);
        } else {
            attrValue(attribute);
        };
    });

    // Read edited attribute input values for a given attribute
    var attrValue = function(attribute) {
        var inputID = '#' + attribute + '-edit-input';
        var newValue = $(inputID).val();
        var pAttr = attribute;

        attrSave(pAttr, attribute, newValue)
    };

    // 
    var timeValue = function(attribute) {
        pAttr = attribute
        timePrep = Number($('#time_prep-edit-input').val());
        timeCook = Number($('#time_cook-edit-input').val());
        timeTot = timePrep + timeCook;
        console.log("timeTot: " + timeTot);

        attrSave(pAttr, 'time_prep', timePrep);
        attrSave(pAttr, 'time_cook', timeCook);
        attrSave(pAttr, 'time_tot', timeTot);
    };

    // Accept and save edited value for given attribute; pAttr
    // (parent attribute) deals with multi-value cases like "time"
    var attrSave = function(pAttr, attribute, newValue) {

        $.ajax({
            type: 'GET',
            url: '/recipe_attr_edit_func/' + {{ recipe.pk }},
            data: { attr: attribute,
                    new_value: newValue,
                   },
            error: function() {},
            success: function() {
                $('#' + pAttr + '-editable').removeClass('hidden');
                $('#' + pAttr + '-editing').addClass('hidden');
                $('#' + pAttr + '-edit-target').text(newValue|linebreaks);
            }
        });
    };

    // Set up user rating by changing star colors as the mouse touches
    var ratingMouseOver = function(ratingSaved) {
        $('.star-user').on('mouseleave', function() {
            for (i = 1; i <= 5; i++) {
                if (i <= ratingSaved) {
                    $('#star-u-' + i).attr('src', starMagenta);
                } else {
                    $('#star-u-' + i).attr('src', starGray);
                };
            };
        });

        $('.star-user').on('mouseover', function() {
            var starNum = Number(this.id.slice(-1))
            // console.log(starNum);
            ratingTemp(starNum);
        });

        // Capture actual user rating when user clicks on a star
        $('.star-user').on('click', function() {
            var starNum = Number(this.id.slice(-1))
            console.log(starNum);
            ratingPerm(starNum);
        });

        // Remove user rating when user clicks on "remove your rating"
        $('#rating-remove').on('click', function() {
            var starNum = 0;
            console.log(starNum);
            ratingPerm(starNum);
        });
    };

    var ratingTemp = function(starNum) {
        for (i = 1; i <= 5; i++) {
            if (i <= starNum) {
                $('#star-u-' + i).attr('src', starMagenta);
            } else {
                $('#star-u-' + i).attr('src', starGray);
            };
        };
    };

    var ratingPerm = function(starNum) {

        $.ajax({
            type: 'GET',
            url: '/rating_func/' + {{ recipe.pk }},
            data: { rating_new: starNum },
            error: function() {},
            success: function() {
                console.log("rating_func success")
                location.reload(true);
            }
        });
    };

    // Display input box to edit common name of ingredient
    $('#ingred-add-btn').on('click', function() {
        addIngredient();
    });

    var addIngredient = function() {
        var btnID = 'ingred-common-name-add-btn'
        var btnText = 'Add Ingredient Common Name'
        var inputID = 'common-name-input'
        var attribute = 'name_common'

        $('#ingred-list-output-2').text('').append(  
            "Enter the ingredient common-name: " +
            "<input id=" + inputID + " type='text'></input> " +
            "<a id='" + btnID + "'" +
               "class='btn btn-primary'" +
               "role='button'>" + btnText +
            "</a>"
        );

        $('#' + inputID).focus();
        nameCommonSave(inputID, btnID, attribute);
    };

    // Accept and save edited common name of ingredient
    var nameCommonSave = function(inputID, btnID, attribute) {
        $('#' + btnID).on('click', function() {
            var nameCommon = $('#' + inputID).val()
            
            $('#ingred-list-output-1').text('').append(
                "____ ____ " + nameCommon
                );

            $('#ingred-list-output-2').text('').append(
                "<h5>New Ingredient:</h5>" +
                "Common name: " + nameCommon + "<br>"
                );

            $('#ingred-list-output-3').text('').append(
                "You have entered the common name; now match " +
                "the ingredient to its entry in the NDB by clicking " +
                "one of the list items to the right/below."
            );

            $.ajax({
                type: 'GET',
                url: '/get_ingred_ndb_json/',
                data: { search: nameCommon },
                error: function() {},
                success: function(data) {
                    $('#right-side-head').text(
                        'Possible Matches in NDB:'
                        );
                    $('#right-side-body').text('');
                    for(i = 0; i < data.length; i++) {
                        $('#right-side-body').append(
                            '<li class="ndb-ingred">' +
                            data[i][0] +
                            ': ' +
                            data[i][1] +
                            '</li>'
                        );
                    }
                }
            });
            numAndDescSave(nameCommon);
        });
    };

    // Add selected item from NDB list to output
    var numAndDescSave = function(nameCommon) {
        $('#right-side-body').on('click', '.ndb-ingred', function() {

            var num_and_desc = $(this).context.innerText
            var num = num_and_desc.split(': ')[0]
            var desc = num_and_desc.split(': ')[1]

            $('#ingred-list-output-2').append(
                "NDB Number: " + num + "<br>" +
                "NDB Description: " + desc + "<br>"
            );
            $('#ingred-list-output-3').text('').append(
                "You have matched the ingredient to the database;" +
                " now choose its form and/or unit of measurement " +
                "by clicking on one of the list items below/right."
            );

            $.ajax({
                type: 'GET',
                url: '/json_ingred_nutr/',
                data: {search2: num },
                error: function() {},
                success: function(data) {
                    $('#right-side-head').text('Forms/Measures in NDB: ');
                    $('#right-side-body').text('');
                    for(i=0; i < data.length; i++) {
                        $('#right-side-body').append(
                            '<li class="nutr-ingred">' +
                            data[i][1] + " [" + data[i][0] + "]" +
                            '</li>'
                        );
                    }
                }
            });
            formOrUnitSave(nameCommon, num, desc)
        });
    };

    // Add selected item from units/forms list to output
    // Possible error at NDB 42267 Babyfood, juice, orange-carrot
    var formOrUnitSave = function(nameCommon, num, desc) {
        $('#right-side-body').on('click', '.nutr-ingred', function() {

            var measures = $(this).context.innerText
            var formOrUnit = measures.split(' [')[0]
            var ndbQuant = measures.split(' [')[1].replace(/]/, '')

            $('#ingred-list-output-1').text(
                "____ " + formOrUnit + " " + nameCommon
                );
            $('#ingred-list-output-2').append(
                "NDB Quantity: " + ndbQuant + "<br>" +
                "Form/Unit: " + formOrUnit + "<br>"
                );
            $('#ingred-list-output-3').text('').append(
                "You have chosen the form/unit; now specify " +
                "the quantity in " + formOrUnit + "(s): <br>" +
                "<input id='quantity-input-box' " +
                       "style='width: 40px;'" +
                       "type='text'></input> " +
                "<a id='quantity-save-btn'" +
                   "class='btn btn-primary'" +
                   "role='button'>Save Quantity" +
                "</a>"
            );
            $('#quantity-input-box').focus();
            quantitySave(nameCommon, num, desc, formOrUnit, ndbQuant)
        });
    };

    // Receive quantity info and save all ingred info to database
    var quantitySave = function(nameCommon, num, desc, formOrUnit, ndbQuant) {
        $('#quantity-save-btn').on('click', function() {

            var qtyCommon = $('#quantity-input-box').val()

            $('#ingred-list-output-1').text(
                qtyCommon + " " + formOrUnit + " " + nameCommon
                );
            $('#ingred-list-output-2').append(
                "qtyCommon: " + qtyCommon + "<br>"
            );
            $('#ingred-list-output-3').text('').append(
                "You have clicked the quantity save button. <br>"
                );

            $.ajax({
                type: 'GET',
                url: '/add_quantity/' + {{ recipe.pk }},
                data: { name_common: nameCommon,
                        ndb_num: num,
                        ndb_desc: desc,
                        ndb_quant: ndbQuant,
                        form_or_unit: formOrUnit,
                        qty_common: qtyCommon
                    },
                error: function() {},
                success: function() {
                    location.reload(true);
                }
            });
        });
    };

    var servingsScale = function(servTemp) {
        $('#servings-scale-btn').on('click', function() {
            $('#servings-display').text('').append(
                servTemp + " &#8594;" + "&nbsp;&nbsp;" +
                "<input id='servings-input-box'" +
                       "type='text'" +
                       "style='width: 35px;'" +
                       "value='{{ recipe.servings }}'>" +
                "</input>"
            );
            $('#servings-change').text('').append(
                "<a id='servings-save-btn'" +
                   "class='btn btn-primary servings-btn'" +
                   "role='button'>Save" +
                "</a>"
            );
            $('#servings-input-box').focus();
            servingsSave();
        });
    };
    
    // Accept and save servings ...
    var servingsSave = function() {
        $('#servings-save-btn').on('click', function() {
            
            var servModif = Number($('#servings-input-box').val())
            Cookies.set("servModifCookie", servModif);

            $.ajax({
                type: 'GET',
                url: '/recipe_attr_edit_func/' + {{ recipe.pk }},
                data: { attr: 'servings_scaled',
                        new_value: servModif,
                       },
                error: function() {},
                success: function() {
                    location.reload(true);
                }
            });
        });
    };

</script>

{% endblock body %}