{% extends 'base.html' %}
{% block body %}

    <div class="container">        
        <div class="row">
            <div class="box">

                <div>
                    <h1>Add Recipe</h1>
                </div>

                <div>
                    Add an Ingredient: <br>
                </div>

                <div class='col-lg-3'
                           'col-md-3'
                           'col-sm-4'
                           'col-xs-12'>
                    <input id='test-input' type='text'></input>
                </div>

                <div class='col-lg-6'
                           'col-md-6'
                           'col-sm-6'
                           'col-xs-12'>
                    <p id='output'></p>
                </div>

            </div>
        </div>
    </div>

    <!-- This line was not necessary for the first JS example (Add element...) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js">
    </script>

    <script type="text/javascript">

        $('#test-input').on('keyup', function() {

            $('#output').text('');

            $.ajax({
                type: 'GET',
                url: '/json_response/',
                data: { search: $('#test-input').val() },
                error: function() {},
                success: function(data) {
                    for(i = 0; i < data.length; i++) {
                        $('#output').append('<li class="ndb-ingred">' +
                                            data[i] +
                                            '</li>'
                                            );
                    }
                }
            });
        });

        // Display form/measurement options for individual item in NDB list
        $('#output').on('click', '.ndb-ingred', function() {

            $('#output').text($(this).context.innerText);
            
            $.ajax({
                type: 'GET',
                url: '/json_measures/',
                data: {search2: $(this).context.innerText },
                error: function() {},
                success: function(data) {
                    for(i=0; i < data.length; i++) {
                        $('#output').append('<li>' + data[i] + '</li>');
                    }
                }
            })
        });

    </script>

{% endblock body %}